<div class="card">
    <div class="card-header text-center" id="heading4">
    <h5 class="mb-0">
        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
        <h5><b>C. Seleccion de alimentos</b></h5>
        </a>
    </h5>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
    <div class="card-body text-center">
        <div class="container text-center">
        <div class="d-flex">
            <div class="form-group p-4 pl-4">
                <label><i>¿Come frutas?:</i></label>
                <br>
                <input type="radio" name="frutas" value="si">
                <label>Si.</label>
                <input type="radio" name="frutas" value="no">
                <label>No.</label>
            </div>
            <div class="form-group p-4 pl-4">
                <label><i>¿Come verduras?:</i></label>
                <br>
                <input type="radio" name="verduras" value="si">
                <label>Si.</label>
                <input type="radio" name="verduras" value="no">
                <label>No.</label>
            </div>
            <div class="form-group p-4 pl-4">
                <label><i>¿Come legumbres?:</i></label>
                <br>
                <input type="radio" name="legumbres" value="si">
                <label>Si.</label>
                <input type="radio" name="legumbres" value="no">
                <label>No.</label>
            </div>
        </div>
        <div class="d-flex text-center">
            <div class="form-group p-4 pl-4">
                <label><i>¿Toma agua?:</i></label>
                <br>
                <input type="radio" name="agua" value="si">
                <label>Si.</label>
                <input type="radio" name="agua" value="no">
                <label>No.</label>
            </div>
            <div class="form-group p-4 pl-4">
                <label><i>¿Toma gaseosa?:</i></label>
                <br>
                <input type="radio" name="gaseosa" value="si">
                <label>Si.</label>
                <input type="radio" name="gaseosa" value="no">
                <label>No.</label>
            </div>
            <div class="form-group p-4 pl-4">
                <label><i>¿Toma alcohol?:</i></label>
                <br>
                <input type="radio" name="alcohol" value="si">
                <label>Si.</label>
                <input type="radio" name="alcohol" value="no">
                <label>No.</label>
            </div>
        </div>
                <div class="d-flex">
                <div class="form-group p-4 pr-4">
                    <label><i>¿Toma jugo de frutas?:</i></label>
                    <p>En polvo, comprados, exprimidos o licuados.</p>
                    <br>
                    <input type="radio" name="jugo" value="si">
                    <label>Si.</label>
                    <input type="radio" name="jugo" value="no">
                    <label>No.</label>
                    <br>
                    <label>¿Cuáles?:</label>
                    <input type="text" name="cual_jugo" class="form-control">
                </div>
                <div class="form-group p-4 pr-4">
                    <label><i>¿Come carnes? ¿Cuáles?:</i></label>
                    <p>Pollo, carne, cerdo o pescado.</p>
                    <br>
                    <input type="radio" name="carne" value="si">
                    <label>Si.</label>
                    <input type="radio" name="carne" value="no">
                    <label>No.</label>
                    <br>
                    <label>¿Cuáles?:</label>
                    <input type="text" name="cual_carne" class="form-control">
                </div>
            </div>
            <div class="d-flex">
                <div class="form-group p-4 pr-4">
                    <label><i>¿Come lácteos?:</i></label>
                    <p>Leche, yogur o queso.</p>
                    <input type="radio" name="lacteos">
                    <label>Si.</label>
                    <input type="radio" name="lacteos">
                    <label>No.</label>
                    <label>¿Cuáles? ¿Descremados o enteros?:</label>
                    <input type="text" name="cual_lacteo" class="form-control">
                </div>
                <div class="form-group p-4 pr-4">
                    <label><i>¿Come alguno de estos productos?:</i></label>
                    <p>Pasta, pizza, sándwich, arroz, polenta</p>
                    <input type="radio" name="harinas">
                    <label>Si.</label>
                    <input type="radio" name="harinas">
                    <label>No.</label>
                    <br>
                    <label>¿Cuáles?:</label>
                    <input type="text" name="cual_harinas" class="form-control">
                </div>
                <div class="form-group p-4 pr-4">
                    <label><i>¿Come alguno de estos productos?:</i></label>
                    <p>Tortas, facturas, galletitas dulces o saladas, panes.</p>
                    <input type="radio" name="dulces">
                    <label>Si.</label>
                    <input type="radio" name="dulces">
                    <label>No.</label>
                    <br>
                    <label>¿Cuáles?:</label>
                    <input type="text" name="cual_dulces" class="form-control">
                </div>
            </div>
            </div>
    </div>
    </div>
</div>