{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Historia Clinica{% endblock %}
{% block body %}
<div class="container">
    <br>
    {{ utils.flashed_messages() }}
    <div class="content-section">
        <div class="center">
            <br>
            <div class="container">
                <div class="col-md-10 offset-md-1">
                    <div class="card-header text-center">
                        <h5>Historia Clinica de {{ nombre_paciente }}</h5>
                    </div>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header text-center" id="headingTwo">
                                  <h5 class="mb-0">
                                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      <h5><b>A. Historia Personal</b></h5>
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    {% if historia_personal %}
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="form-group col-sm-10 pr-4">
                                                <label><b>Enfermedades crónicas: Diabetes, hipertensión, disilipemias, otros:</b> {{ historia_personal.enfermedades_cronicas }}</label>
                                                <br>
                                                <label><b>Obervaciones: </b>{{ historia_personal.obs_enf_cron }}</label>
                                            </div>
                                        </div>
                                        <hr class="intro-divider">
                                        <div class="d-flex">
                                            <div class="form-group col-sm-10 pr-4">
                                                <label><b>Cirugías:</b> {{ historia_personal.cirugias }}</label>
                                                <br>
                                                <label><b>Obervaciones: </b>{{ historia_personal.obs_cirugias }}</label>
                                            </div>
                                        </div>
                                        <hr class="intro-divider">
                                        <div class="d-flex">
                                            <div class="form-group col-sm-10 pr-4">
                                                <label><b>Alergias a alimentos:</b> {{ historia_personal.alergias }}</label>
                                                <br>
                                                <label><b>Obervaciones: </b>{{ historia_personal.obs_alergias }}</label>
                                            </div>
                                        </div>
                                        <hr class="intro-divider">
                                        <div class="d-flex">
                                            <div class="form-group col-sm-10 pr-4">
                                                <label><b>Medicación psiquiátrica: </b>{{ historia_personal.med_psiquiatrica }}</label>
                                                <br>
                                                <label><b>Obervaciones: </b>{{ historia_personal.obs_med_psiquiatrica }}</label>
                                            </div>
                                        </div>
                                        <hr class="intro-divider">
                                        <div class="d-flex">
                                            <div class="form-group col-sm-10 pr-4">
                                                <label><b>Otra medicación: </b>{{ historia_personal.otra_med }}</label>
                                                <br>
                                                <label><b>Obervaciones: </b>{{ historia_personal.obs_otra_med }}</label>
                                            </div>
                                        </div>
                                        <hr class="intro-divider">
                                        <div class="d-flex">
                                            <div class="form-group col-sm-10 pr-4">
                                                <label><b>Consumo de tabaco: </b>{{ historia_personal.tabaco }}</label>
                                                <br>
                                                <label><b>Obervaciones: </b>{{ historia_personal.obs_tabaco }}</label>
                                            </div>
                                        </div>
                                        <hr class="intro-divider">
                                        <div class="d-flex">
                                            <div class="form-group col-sm-10 pr-4">
                                                <label><b>Consumo de alcohol: </b>{{ historia_personal.alcohol }}</label>
                                                <br>
                                                <label><b>Obervaciones: </b>{{ historia_personal.obs_alcohol }}</label>
                                            </div>
                                        </div>
                                        <hr class="intro-divider">
                                        <div class="d-flex">
                                            <div class="form-group col-sm-10 pr-4">
                                                <label><b>Consumo de drogas ilegales: </b>{{ historia_personal.drogas }}</label>
                                                <br>
                                                <label><b>Obervaciones: </b>{{ historia_personal.obs_drogas }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a href="{{ url_for('edit_historia_personal', id=paciente_id) }}" class="btn btn-secondary btn-success">Editar historia personal</a>
                                    </div>
                                    <br>
                                    {% else %}
                                    <div class="text-center">
                                        <br>
                                        <h5>El paciente no posee cargada una historia personal.</h5><br>
                                        <a href="{{ url_for('edit_historia_personal', id=paciente_id) }}" class="btn btn-secondary btn-success">Editar historia personal</a><br><br>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header text-center" id="headingThree">
                                  <h5 class="mb-0">
                                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      <h5><b>B. Antecedentes familiares</b></h5>
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    {% if antecedentes_familiares %}
                                    <div class="card-body">
                                        <label><b>Diabetes:</b> {{ antecedentes_familiares.diabetes }}</label>
                                        <hr class="intro-divider">
                                        <label><b>Enfermedad Cardiaca: </b>{{ antecedentes_familiares.cardiaca }}</label>
                                        <hr class="intro-divider">
                                        <label><b>Hipertensión: </b>{{ antecedentes_familiares.hipertension }}</label>
                                        <hr class="intro-divider">
                                        <label><b>Sobrepeso/Obesidad: </b>{{ antecedentes_familiares.sobrepeso }}</label>
                                        <hr class="intro-divider">
                                        <label><b>Ataque cardíaco/ACV: </b>{{ antecedentes_familiares.acv }}</label>
                                        <hr class="intro-divider">
                                        <label><b>Cáncer: </b>{{ antecedentes_familiares.cancer }}</label>
                                        <hr class="intro-divider">
                                        <label><b>Obervaciones: </b>{{ antecedentes_familiares.observaciones }}</label>
                                        <hr class="intro-divider">
                                        <label><b>Otros (TCA): </b>{{ antecedentes_familiares.otro_tca }}</label>
                                    </div>
                                    <div class="text-center">
                                        <a href="{{ url_for('edit_antecedentes_familiares', id=paciente_id) }}" class="btn btn-secondary btn-success">Editar antecedentes familiares</a>
                                    </div>
                                    <br>
                                    {% else %}
                                    <div class="text-center">
                                        <br>
                                        <h5>El paciente no posee cargado antecedentes familiares.</h5><br>
                                        <a href="{{ url_for('edit_antecedentes_familiares', id=paciente_id) }}" class="btn btn-secondary btn-success">Editar antecedentes familiares</a><br><br>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                                <div class="card">
                                  <div class="card-header text-center" id="heading5">
                                    <h5 class="mb-0">
                                      <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        <h5><b>C. Frecuencia de alimentos</b></h5>
                                      </a>
                                    </h5>
                                  </div>
                                  <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                                      {% if frecuencia_alimentos %}
                                      <div class="card-body">
                                        <div class="container ">
                                            <p>¿Cuántas veces a la semana come/bebe los siguientes alimentos?</p>
                                            <div class="d-flex">
                                                <ul>
                                                    <li>
                                                        <b><i>Frutas:</b> {{ frecuencia_alimentos.frutas }}</i>
                                                    </li>
                                                    <li>
                                                        <b><i>Verduras:</b> {{ frecuencia_alimentos.verduras }}</i>
                                                    </li>
                                                    <li>
                                                        <b><i>Carnes:</b> {{ frecuencia_alimentos.carne }}</i>
                                                    </li>
                                                    <li>
                                                        <b><i>Lácteos:</b> {{ frecuencia_alimentos.lacteos }}</i>
                                                    </li>
                                                    <li>
                                                        <b><i>Agua:</b> {{ frecuencia_alimentos.agua }}</i>
                                                    </li>
                                                    <li>
                                                        <b><i>Gaseosas:</b> {{ frecuencia_alimentos.gaseosa }}</i>
                                                    </li>
                                                    <li>
                                                        <b><i>Huevo:</b> {{ frecuencia_alimentos.huevo }}</i>
                                                    </li>
                                                    <li>
                                                        <b><i>Cereales:</b> {{ frecuencia_alimentos.cereales }}</i>
                                                    </li>
                                                    <li>
                                                        <b><i>¿Cuántas veces a la semana come comida casera?:</b> {{ frecuencia_alimentos.casera }}</i>
                                                    </li>
                                                    <li>
                                                        <b><i>Comida fuera de casa:</b> {{ frecuencia_alimentos.afuera }}</i>
                                                    </li>
                                                </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <a href="{{ url_for('edit_frecuencia_alimentos', id=paciente_id) }}" class="btn btn-secondary btn-success">Editar frecuencia de alimentos</a>
                                        </div>
                                        <br>
                                    </div>
                                      {% else %}
                                      <h5>El paciente no posee cargado registros de frecuencia de alimentos.</h5>
                                      {% endif %}
                                      
                                  </div>
                                </div>
                                <div class="card">
                                    <div class="card-header text-center" id="heading6">
                                      <h5 class="mb-0">
                                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                          <h5><b>D. Actividad física</b></h5>
                                        </a>
                                      </h5>
                                    </div>
                                    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                                        {% if actividad_fisica %}
                                        <div class="card-body">
                                            <label><b>¿Realiza actividad física?: </b> {{ actividad_fisica.actividad }}</label>
                                            {% if actividad_fisica.actividad == "Si." %}
                                            <hr class="intro-divider">
                                            <label><b>¿Cuál?: </b>{{ actividad_fisica.cual_actividad }}</label>
                                            <hr class="intro-divider">
                                            <label><b>¿Cuántas veces por semana y cuántas horas?: </b>{{ actividad_fisica.cuantas_veces }}</label>
                                            {% endif %}
                                        </div>
                                        <div class="text-center">
                                            <a href="{{ url_for('edit_actividad_fisica', id=paciente_id) }}" class="btn btn-secondary btn-success">Editar actividad física</a>
                                        </div>
                                        <br>
                                        {% else %}
                                        <div class="text-center">
                                            <br>
                                            <h5>El paciente no posee cargado registros de actividad fisica.</h5><br>
                                            <a href="{{ url_for('edit_actividad_fisica', id=paciente_id) }}" class="btn btn-secondary btn-success">Editar actividad física</a><br><br>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                              
                        </div>
                </div><br>
                <div class="text-center">
                    <a href="/all_pacientes" class="btn btn-secondary">Volver</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}