{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Add Paciente{% endblock %}
{% block body %}
<div class="container">
{{ utils.flashed_messages() }}
<div class="content-section">
  <div class="center">
  </br>
    <div class="container">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <h3>Editar datos del paciente</h3>
                </div>
                <form class="card-body" action="" method="POST">
                    <h5>Datos Personales</h5>
                    <br />
                    <div class="d-flex">
                        <div class="form-group pr-4">
                            <label for="nombre">Nombre completo:</label>
                            <input type="text" name="nombre" value="{{ paciente.nombre }}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="nacimiento">Fecha de nacimiento:</label>
                            <input type="date" name="nacimiento" value="{{ paciente.nacimiento }}" class="form-control">
                        </div>
                        <div class="form-group pl-4">
                                <label for="edad">Edad:</label>
                                <input type="text" name="edad" value="{{ paciente.edad }}" class="form-control" >
                        </div>
                        <div class="form-group pl-4">
                                <label for="telefono">Telefono:</label>
                                <input type="text" name="telefono" value="{{ paciente.telefono }}" class="form-control" >
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group pr-4">
                            <label for="estado_civil">Estado Civil:</label>
                            <select class="form-control" name="estado_civil">
                                    <option selected>Seleccionar..</option>
                                    <option value="Casado/a">Casado/a</option>
                                    <option value="Soltero/a">Soltero/a</option>
                                    <option value="En pareja">En pareja</option>
                            </select>
                        </div>
                        <div class="form-group pl-4">
                            <label for="email">Email: </label>
                            <input type="email" name="email" value="{{ paciente.email }}" class="form-control" >
                        </div>
                        <div class="form-group pl-4">
                            <label for="cant_hijos">Cantidad de hijos:</label>
                            <input type="number" name="cant_hijos" value="{{ paciente.cant_hijos }}" class="form-control" style="width: fit-content;">
                        </div>
                        <div class="form-group pl-4">
                            <label for="ocupacion">Ocupacion:</label>
                            <input type="text" name="ocupacion" class="form-control" value="{{ paciente.ocupacion }}">
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group pr-4">
                            <label for="observaciones">Obervaciones:</label>
                            <textarea name="observaciones" value="{{ paciente.obervaciones }}" class="form-control" cols="50" rows="2"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-success">Editar paciente</button>
                    <br><br>
                    <a href="/all_pacientes" class="btn btn-secondary">Volver</a>                              
                </form>
            </div>
        </div>
    </dipv>
  </div>
</div>
</div>
{% endblock %}